<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matos Hub</title>
    <script>
        function ocultarBtn(){
        document.getElementById("btn").style.display = "none";
        };
    </script defer>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/add_styles.css') }}">
</head>
<body>
    <div class = "login">
        <h1>Agrega una Foto</h1>
        <hr>
        <div class="formulario">
            <form action="/add" method="post" enctype="multipart/form-data" onsubmit="ocultarBtn()">
                <div class="input-box">
                    <input type="text" name = "name_photo" required>
                    <label>Nombre de la Foto</label>
                </div>
                <div class="foto">
                    <input class="fotobtn" name="foto" type="file" accept="image/*" required>
                </div>
                <div class="send">
                    <button type="submit" id="btn">Enviar</button>
                </div>
            </form>
        </div>
        <p class="aviso">Al utilizar esta plataforma y subir una imagen, el usuario declara haber leído, entendido y aceptado en su totalidad los presentes <a href="static/Términos-De-Uso-Y-Política-De-Contenido.pdf" target="_blank">Terminos y Condiciones</a>, así como la política de privacidad aplicable.</p>
    </div>
</body>
</html>